.App {
  display: flex;
  flex-direction: row;
}

.canvas {
  height: 600px;
  width: 600px;
  background-color: #c9c9c9;
}

.ground {
  fill: #a5a5a5;
}

.controls {
  flex: 1;
  padding: 15px;
}

.origin {
  fill: white;
}

.femur {
  stroke: red;
  stroke-width: 5;
}

.tibia {
  stroke: blue;
  stroke-width: 3;
}

.heightControls {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.heightControls > div {
  display: flex;
  flex-direction: column;
}

.heightControls > div:not(:first-child) {
  margin-left: 25px;
}

.heightControls > div > div {
  height: unset;
  flex: 1;
}
